:root{
    --main-color: #e7a1a1;
    --dark-color: #8b4d4d;
}
html {
font-size: 62.5%;
box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
	font-size: 1.6rem;
    min-height: 100vh;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: var(--main-color);
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid var(--main-color);
    border-right: 10px solid var(--main-color);  
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visual {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visual img,ul{
    padding: 0;
}

h1 {
    margin-top: 0;
    font-weight: 300;
}

.txt-color {
    color: var(--main-color);
}

.txt-uppercase {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

a:link {
    color: var(--main-color); 
    background-color: transparent; 
    text-decoration: none;
    font-weight: 900;
    text-decoration: underline;
  }
  
  a:visited {
    color: var(--dark-color);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--dark-color);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }
  
  a:active {
    color: var(--main-color); 
    background-color: transparent;
    text-decoration: underline;
  }

.img-avatar {
    width: auto;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.btn {
    text-align: center;
}

button {
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    background: var(--main-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

button:hover, button:focus {
	background: var(--dark-color);
	transition: 0.2s ease;
}

button i {
    margin-right: 20px;
}

.social-media {
    display: flex;
    align-items: center;
	margin-top: 30px;
}

.social-media li {
	list-style: none;
	margin: 0 5px;
}

.social-media li .fab {
	font-size: 1em;
	line-height: 25px;
	transition: 0.5s;
	color: #fff;
}

.social-media li .fab:hover {
	color: #fff;
}

.social-media li:nth-child(1) a:hover {
	background: #3b5999;
	color: #fff;
}

.social-media li:nth-child(2) a:hover {
	background: #3b5999;
	color: #fff;
}

.social-media li:nth-child(3) a:hover {
	background: #55acee;
	color: #fff;
}

.social-media li a {
	position: relative;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #000;
	text-align: center;
	transition: 0.6s;
}

.social-media li a:hover {
	transform: translate(0, -5px); 
}